<!-- Begin Hidden Modal -->
<div id='hidden-poem-modal' class=''>
  <div id='poem-modal' class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Poem #{{poem.id}}</h4>
        </div>
        <div class="modal-body">
          {{#each poem.lines as |line|}}
            <p>{{{line}}}</p>
          {{/each}}
        </div>
        <div class="modal-footer">
          {{share-section poem=poem}}

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div><!-- /#hidden-poem-modal -->
<!-- End Hidden Modal -->
