<div class='share-holder'>
            <span class='facebook-share-holder'>
              <button {{action 'facebookShare'}} class='facebook share-button'>Facebook</button>
            </span>
  <span class='twitter-tweet-holder'></span>
  <span class='permalink-holder'>
              <button class='permalink share-button'>
                {{bs-popover text='Permalink' placement='top' content=shareUrlAnchorTag}}
              </button>
            </span>
</div>