#how-popup {
  display: block;
  margin: auto;
  padding-top: 2em;
  text-align: center;
  font-size: 11pt;
  text-decoration: underline;
  cursor: pointer;
}

.popover-content {
  font-size: 10pt;

  a {
    color: black;
  }
}

.modal-dialog {
  margin: 0;
  background: white;

  @include breakpoint(xs) {
    margin: 30px auto;
    background: inherit;
  }
}

.modal-body {
  line-height: 25px;
  margin: 20px 40px;
  padding: 0px;
}

.next-poem-button,
.previous-poem-button {
  position: absolute;
  top: 50%;

  color: #000000;
  background-color: #ffffff;

  &:hover {
    color: gray;
  }
}

.next-poem-button {
  right: 10px;
}

.previous-poem-button {
  left: 10px;
}

#hidden-poem-modal {
  font-family: EBGaramond;
  font-size: 14pt;
}
