* {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
	font-family: Masterics;
	src: url('../fonts/Masterics.ttf'),
		url('../fonts/Masterics.eot');
}

@font-face {
	font-family: EBGaramond;
	src: url('../fonts/EBGaramond.ttf'),
		url('../fonts/EBGaramond.eot');
}

body {
	background-color: rgb(243,243,243);
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#nav {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	height: 60px;
	background-color: white;
	box-shadow: 0px 0px 10px rgb(119,119,119);
}

#nav span {
	color: black;
	font-family: Masterics;
	font-size: 45pt;
	position: relative;
	left: 15px;
	top: 10px;
}

#nav ul {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#title {
    float: left;
    cursor: pointer;
}

#nav li {
    display: inline-block;
    background-color: black;
    color: white;
    font-family: Masterics;
    font-size: 31pt;
    margin-right: 5px;
    padding: 14px 20px 0px 10px;
    border: 1px dashed black;
    height: 44px;
    cursor: pointer;
    /* transition: all 0.2s; */
    transition: color 0.2s, background-color 0.2s;
}

section {
	margin-bottom: 3em;
}

#nav li:hover, #poem-list li:hover {
	background-color: white;
	color: black;
}

#poem-list li:hover {
	/* background-color: rgb(45,48,51); */
	background-color: black;
	color: white;
	border: 1px dashed white;
}

#poem-list li:active {
	position: relative;
	top: 2px;
}

#main {
    margin: auto;
}

#poem-list { list-style-type: none; margin: auto; text-align:center;}
#poem-list li {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 15px 15px 15px 20px;
    width: 160px;
    margin: 0px 0.5em 1em 0.5em;
    vertical-align: top;
    height: 150px;
    /* font-size: 22pt; */
    font-size: 15pt;
    border: 1px dashed black;
    /* transition: all 0.2s; */
    transition: color 0.2s, background-color 0.2s, border 0.2s;
    cursor: pointer;
    font-family: EBGaramond;
    line-height: 22px;
    text-align: left;
}

#create-new-button, #get-more-poems-button, #how-popup {
	display: block;
	margin: auto;
}

#how-popup {
	padding-top: 2em;
	text-align: center;
	font-size: 11pt;
	/*
	text-decoration: underline;
	cursor: pointer;
	*/
}

#how-popup a { color: black; }

#twitter-holder { text-align: center; }

.button {
	color: white;
	cursor: pointer;
	padding: 15px;
	/* box-shadow: 1px 1px 1px black; */
	font-size: 14pt;
	background-color: rgb(170,170,170);
	border-radius : 7px;
}

.button:active {
	/* box-shadow: 1px 1px 1px black inset; */
	position: relative;
	top: 2px;
}

.button:hover {
	background-color: rgb(100,100,100);
}

.text-wrapper { width: 75%; }
.hidden { display: none; }
h1 { margin: auto; text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 100; font-size: 31pt; margin: 3em 0px 2em 0px;}

#share-holder { float: left; }
#twitter-tweet-holder {
	position: relative;
	top: 5px;
	left: 7px;
}

#facebook-share-holder {
	margin-left: 4px;
}

.share-button {
	padding: 4px;
	border-radius: 3px;
	cursor: pointer;
	color: white;
}

#facebook-share-button {
	background-color: #3b5998;
	font-family: "Lucida Grande" sans-serif;
}

#facebook-share-button:hover {
	background-color: #2D4881;
}

#facebook-share-button:active {
	position: relative;
	top: 1px;
}

#permalink-holder {
	margin-left: 15px;
}

#permalink-button {
	background-color: rgb(105, 96, 96);
}

#permalink-button:hover {
	background-color: rgb(73, 65, 65);
}

#permalink {
	color: black;
}

.popover-content {
	font-size: 12pt;
}

footer {
	background-color: rgb(100,100,100);
	color: white;
	height: 110px;
	box-shadow: 0px 0px 10px rgb(66,66,66);
}

footer p {
	text-align: center;
	padding-top: 25px;
	font-family: Masterics;
	font-size: 30pt;
	display: block;
}

.modal-body {
	line-height: 25px;
}

#hidden-poem-modal {
	font-family: EBGaramond;
	font-size: 14pt;
}

/*
footer span {
	float: right;
	background-color: black;
	padding: 4px 12px;
	font-family: EBGaramond;
	border: 1px dashed;
}
*/

footer span {
	font-family: EBGaramond;
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

footer a:hover {
	font-style: italic;
	color: black;
}
